@font-face {
    font-family: 'AlefRegular';
    src: url('alef_regular_macroman/Alef-Regular-webfont.eot');
    src: url('alef_regular_macroman/Alef-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('alef_regular_macroman/Alef-Regular-webfont.woff2') format('woff2'),
         url('alef_regular_macroman/Alef-Regular-webfont.woff') format('woff'),
         url('alef_regular_macroman/Alef-Regular-webfont.ttf') format('truetype'),
         url('alef_regular_macroman/Alef-Regular-webfont.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AlefBold';
    src: url('alef_bold_macroman/Alef-Bold-webfont.eot');
    src: url('alef_bold_macroman/Alef-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('alef_bold_macroman/Alef-Bold-webfont.woff2') format('woff2'),
         url('alef_bold_macroman/Alef-Bold-webfont.woff') format('woff'),
         url('alef_bold_macroman/Alef-Bold-webfont.ttf') format('truetype'),
         url('alef_bold_macroman/Alef-Bold-webfont.svg#alefbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

