@font-face {
    font-family: 'AdventProThin';
    src: url('adventpro_thin_macroman/adventpro-thin-webfont.eot');
    src: url('adventpro_thin_macroman/adventpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro_thin_macroman/adventpro-thin-webfont.woff2') format('woff2'),
         url('adventpro_thin_macroman/adventpro-thin-webfont.woff') format('woff'),
         url('adventpro_thin_macroman/adventpro-thin-webfont.ttf') format('truetype'),
         url('adventpro_thin_macroman/adventpro-thin-webfont.svg#advent_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdventProExtraLight';
    src: url('adventpro_extralight_macroman/adventpro-extralight-webfont.eot');
    src: url('adventpro_extralight_macroman/adventpro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro_extralight_macroman/adventpro-extralight-webfont.woff2') format('woff2'),
         url('adventpro_extralight_macroman/adventpro-extralight-webfont.woff') format('woff'),
         url('adventpro_extralight_macroman/adventpro-extralight-webfont.ttf') format('truetype'),
         url('adventpro_extralight_macroman/adventpro-extralight-webfont.svg#advent_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdventProLight';
    src: url('adventpro_light_macroman/adventpro-light-webfont.eot');
    src: url('adventpro_light_macroman/adventpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro_light_macroman/adventpro-light-webfont.woff2') format('woff2'),
         url('adventpro_light_macroman/adventpro-light-webfont.woff') format('woff'),
         url('adventpro_light_macroman/adventpro-light-webfont.ttf') format('truetype'),
         url('adventpro_light_macroman/adventpro-light-webfont.svg#advent_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdventProRegular';
    src: url('adventpro_regular_macroman/adventpro-regular-webfont.eot');
    src: url('adventpro_regular_macroman/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro_regular_macroman/adventpro-regular-webfont.woff2') format('woff2'),
         url('adventpro_regular_macroman/adventpro-regular-webfont.woff') format('woff'),
         url('adventpro_regular_macroman/adventpro-regular-webfont.ttf') format('truetype'),
         url('adventpro_regular_macroman/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdventProMedium';
    src: url('adventpro_medium_macroman/adventpro-medium-webfont.eot');
    src: url('adventpro_medium_macroman/adventpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro_medium_macroman/adventpro-medium-webfont.woff2') format('woff2'),
         url('adventpro_medium_macroman/adventpro-medium-webfont.woff') format('woff'),
         url('adventpro_medium_macroman/adventpro-medium-webfont.ttf') format('truetype'),
         url('adventpro_medium_macroman/adventpro-medium-webfont.svg#advent_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdventProSemiBold';
    src: url('adventpro_semibold_macroman/adventpro-semibold-webfont.eot');
    src: url('adventpro_semibold_macroman/adventpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro_semibold_macroman/adventpro-semibold-webfont.woff2') format('woff2'),
         url('adventpro_semibold_macroman/adventpro-semibold-webfont.woff') format('woff'),
         url('adventpro_semibold_macroman/adventpro-semibold-webfont.ttf') format('truetype'),
         url('adventpro_semibold_macroman/adventpro-semibold-webfont.svg#advent_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdventProBold';
    src: url('adventpro_bold_macroman/adventpro-bold-webfont.eot');
    src: url('adventpro_bold_macroman/adventpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro_bold_macroman/adventpro-bold-webfont.woff2') format('woff2'),
         url('adventpro_bold_macroman/adventpro-bold-webfont.woff') format('woff'),
         url('adventpro_bold_macroman/adventpro-bold-webfont.ttf') format('truetype'),
         url('adventpro_bold_macroman/adventpro-bold-webfont.svg#advent_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

